@charset "UTF-8";

[data-menu-button] {
	transform: translateY(-50%);
	transform: translateY(-50%);
	position: absolute;
	top: 50%;
	left: 20px;
	width: 30px;
	position: absolute;
	top: 50%;
	left: 20px;
	width: 30px;
	i {
		transition: transform 300ms;
		display: block;
		width: 30px;
		height: 3px;
		margin: 5px auto;
		background: {
			color: #000;
		}
		&:first-child {
			margin-top: 0;
		}
		&:nth-child(3n) {
			margin-bottom: 0;
		}
		@at-root [data-menu-button].open i {
			&:first-child {
				transform: translate(0px, 9px) rotate(135deg);
			}
			&:nth-child(2n) {
				opacity: 0;
			}
			&:nth-child(3n) {
				transform: translate(0px, -9px) rotate(-135deg);
			}
		}
	}
}

[data-menu-target] {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	display: none;
}

.drawerBg {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: none;
	z-index: 1;
	&:before {
		content: "";
		opacity: .5;
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		display: block;
		background-color: #000;
	}
}

.drawerInner {
	transition: left 500ms, right 500ms;
	position: relative;
	width: 100%;
	overflow-y: scroll;
	z-index: 1;
	&[data-direction="left"] {
		left: -100%;
		&.view {
			left: 0;
		}
	}
	&[data-direction="right"] {
		right: -100%;
		&.view {
			right: 0;
		}
	}
}










.header {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	text-align: center;
	background: {
		color: #fff;
	}
}

.headerNav_inner {
	position: relative;
	height: 500px;
	background: {
		color: #fff;
	}
}

.drawerInner_cover {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.contents {
	padding-top: 90px;
}

h2 {
	text-align: center;
}
